<h1>With who will you fight against <%= enemy.name %>?</h1>
<h2>Consecutive wins <%= game.rounds %></h2>
<form action="/play" method="POST">
    <% pokemons.forEach(pokemon => { %>
        <% pokemon %>
        <div>
            <div><h3><%= pokemon.name %></h3></div>  
            <div><button type="submit" name="pokemonSelected" value="<%= JSON.stringify(pokemon)%>">Fight with <%= pokemon.name %>!</button></div>
        </div>
    <% }); %>
    <input hidden="true" name="enemy" value="<%= JSON.stringify(enemy)%>">
</form>