<h1>My pokemons</h1>
<% pokemons.forEach(pokemon => { %>
    <% pokemon %>
    <div>
        <div><h3><%= pokemon.name %></h3></div>  
        <div>HP: <%= pokemon.stats.hp %></div>
        <div>Attack: <%= pokemon.stats.attack %></div>
        <div>Defence: <%= pokemon.stats.defence %></div>
        <div>Speed: <%= pokemon.stats.speed %></div>
        <div>Types:
            <% pokemon.types.forEach(type => { %>
                 <%= type %>
            <% }); %>
        </div>
    </div>

<% }); %>